.forms{
    width: 100%;
    height: 500px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    width: 60%;
    height: 400px;
    border: 1px solid black;
 
    
   
}

.forms .images{
width: 60%;
height: 400px;
border-radius: 10px;
}

.container h1{
    text-align: center;
}

.container .form-data{
    margin-left: 300px;
    
    
}
.container .form-data label{
    margin: 30px;

}
.container .form-data input{
    
    border-radius: 30px;
    width: 200px;
    padding: 10px;

}
.container .form-data #pass{
    
    border-radius: 30px;
    width: 200px;
    padding: 10px;

}
.container .form-data div{
    margin: 20px 20px;

}
.container .form-data .btn{
    margin-left: 50px;
    margin-top: 30px;
    width: 300px;
    height: 30px;
    border-radius: 30px;
    background-color: blue;
    color: white;

}

/* .container{
    
    display: flex;
    justify-content: center;
    align-items: center;
} */
